.form-math-markup-element .js-math-result,
.form-math-markup-element.form-math-markup-element-calculated .js-math-placeholder,
.js-math-result-base {
  display: none;
}

.form-math-markup-element .js-math-placeholder,
.form-math-markup-element-calculated .js-math-result {
  display: block;
}
